@charset "ISO-8859-1";

/*Colors:
Pantone 171 C = #ff5c39
Pantone 9224U = #FAEBDA
Font: Roboto
*/
* {
	font-family: Roboto, serif, sans-serif;
}

.col {
	padding-top: 40px;
}

.footer {
	padding: 1%;
}

.hul {
	display: flex;
	flex-direction: row;
}

.ful {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

ul {
	list-style: none;
}

.logo {
	padding-left: 3vw;
}

.btn-primary {
	margin-top: 20px;
}

.bandeau {
	height: 55vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/05/16/42/5659b3a38252258.jpg");
	background-position: center;
	background-size: cover;
}

.bandeau h1 {
	font-size: 3.5rem;
	color: white;
}

.search-icon {
	height: 5vh;
	width: auto;
}

.search-bar {
	height: 4.25vh;
	width: 15vw;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 20%;
}

.bande-ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bande-ul li {
	margin-right: 20%;
	margin-left: 10%;
}

.signForm {
	border: 1px solid white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 36%;
	margin-right: 36%;
	margin-bottom: 10%;
	background-color: rgba(54, 25, 25, .10);
}

.signTitle {
	margin-top: 8%;
	margin-bottom: 3%;
	text-align: center;
}

.invalid {
	color: red;
}

fieldset {
	border: none;
}

.lastEvents li {
	border: 1px solid black;
	padding: 10px;
	margin-right: 30%;
	font-size: 1.5rem;
}

.lastEvents h2 {
	text-align: center;
	font-size: 2.5rem;
}

.voirPlus {
	font-size: 2rem;
	margin-left: 2%;
	margin-bottom: 2%;
}

.eventList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.eventPageBody {
	background-image: url("");
	background-size: cover;
}

.eventStyle {
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
	font-size: 1.5rem;
	text-align: center;
	width: 25vw;
	background: rgba(54, 25, 25, .25); 
}

.eventStyle:hover {
	 transform: scale(1.2);
}