@charset "ISO-8859-1";

/*Colors:
Pantone 171 C = #ff5c39
Pantone 9224U = #FAEBDA
Font: Roboto
*/
* {
	font-family: Roboto, serif, sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1%;
	background-color: #FAEBDA;
}

.header a {
	padding-top: 2vh;
}

.footer {
	padding: 1%;
	background-color: #FAEBDA;
}

.hul {
	display: flex;
	flex-direction: row;
}

.ful {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.bandeau {
	height: 55vh;
	background-color: #ff5c39;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bandeau h1 {
	font-size: 2.5rem;
}

.search-icon {
	height: 5vh;
	width: auto;
}

.search-bar {
	height: 4.25vh;
	width: 15vw;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 20%;
}

.bande-ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bande-ul li {
	margin-right: 20%;
	margin-left: 10%;
}

.signForm {
	border: 1px solid black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 36%;
	margin-right: 36%;
	margin-bottom: 10%;
	background-color: #FAEBDA;
}

.signTitle {
	margin-top: 8%;
	margin-bottom: 3%;
	text-align: center;
}

.invalid {
	color: red;
}

fieldset {
	border: none;
}

.lastEvents li {
	border: 1px solid black;
	padding: 10px;
	margin-right: 30%;
	font-size: 1.5rem;
}

.lastEvents h2 {
	text-align: center;
	font-size: 2.5rem;
}

.voirPlus {
	font-size: 2rem;
	margin-left: 2%;
	margin-bottom: 2%;
}